.nb-m-page {
  &.main {
    .nb-m-page-footer-wrapper {
      display: block;
    }
    .nb-m-page-content-wrapper {
      bottom: 50px;
      .nb-m-page-content {
        .main-pages {
          .main-page {
            display: none;
            &.active {
              display: block;
              animation: fadeIn .8s ease-out both;
            }
            &.am-popup {
              &.active{
                animation:none;
              }
            }
          }
        }
      }
    }
  }
}